@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111111 !important;
  font-family: "Montserrat" !important;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none !important;
  color: $color-white;
  text-transform: uppercase;
  font-size: 13px;
}
