@import "../../styles/variables";
@import "../../components/styles/media";

.aboutContainer {
  @include flex-custom(row, center, center);
  height: 60em;
  width: 100%;
}

.aboutCard {
  @include flex-custom(row, center, center);
  height: 50em;
  width: 65em;
}

.aboutLeft {
  @include flex-custom(column, center, center);
  height: 100%;
  width: 32.5em;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.aboutRight {
  @include flex-custom(column, flex-end, flex-start);
  margin-bottom: 1rem;
  margin-left: 2rem;
  height: 100%;
  width: 32.5em;
  color: $color-white !important;
  section {
    text-align: left;
    position: relative;
    height: 6rem;
    width: 100%;
    h5 {
      position: absolute;
      top: 0 !important;
      left: 0;
      font-size: 96px;
      margin: 0 !important;
      color: #ffffff23;
    }
    h4 {
      text-transform: uppercase;
      color: $color-blue;
      font-weight: 200;
      position: absolute;
      margin: 0 !important;
      left: 0;
      top: 3.5rem;
      font-size: 24px;
    }
  }
  h3 {
    font-size: 36px;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  div p {
    font-size: 18px;
    font-weight: 300;
  }
  div p:last-of-type {
    padding-bottom: 1rem;
  }
}

.smallButton {
  color: #000;
  background-color: $color-white;
  padding: 0.7rem 1rem;
  font-weight: 600;
}

.smallButton:hover {
  color: #000;
  background-color: rgb(223, 223, 223);
}
