@import "../../styles/variables";
@import "../../../src/components/styles/media";

.calcContainer {
  @include flex-custom(column, center, center);
  height: 70em;
  width: 100%;
  color: $color-white;
  text-transform: uppercase !important;
  overflow: hidden;
  h3 {
    position: fixed;
    top: 1em;
    z-index: 0;
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 20rem;
    color: transparent;
    -webkit-text-stroke: 0.5px rgba(235, 235, 235, 0.733);
  }
}

.calcForm {
  @include flex-custom(column, space-evenly, flex-start);
  height: 65em;
  width: 40em;
  h1 {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $color-white;
  }
  h2 {
    font-size: 18px;
    span {
      color: $color-blue;
    }
  }
  form {
    @include flex-custom(column, center, flex-start);
    width: 100%;
    position: relative;
    label {
      font-weight: 300;
      margin: 0.5rem 0 !important;
      height: 25px;
      span {
        color: $color-blue;
      }
    }
    input {
      height: 50px !important;
      width: 100%;
      border-radius: 5px;
      border: none;
      outline: none;
      padding-left: 1rem !important;
    }
    input::placeholder {
      font-size: 14px;
    }
    p {
      @include flex-custom(row, center, center);
      height: 50px !important;
      width: 100%;
      background-color: $color-blue;
      color: $color-white;
      border: none;
      outline: none;
      margin: 1rem 0;
      cursor: pointer;
    }
  }
}

.halfButton,
.fullButton,
.doubleButton {
  height: 50px !important;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.fullButton {
  @include flex-custom(row, flex-start, center);
  margin: 0.5rem 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding-left: 1rem;
  background-color: white;
  span {
    padding-left: 0.5rem;
    font-weight: 300;
  }
}

.fullButton:hover {
  background-color: $color-blue;
  color: $color-white;
}

.halfButton:hover {
  background-color: $color-blue;
  color: $color-white;
}

.halfButton {
  @include flex-custom(row, center, center);
  font-weight: 600;
  width: 49%;
  background-color: white;
}

.kiloInput {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.doubleButton {
  @include flex-custom(row, space-between, center);
  width: 100%;
  input {
    width: 49% !important;
  }
}

.active {
  background-color: $color-blue;
  color: $color-white;
}
