@import url("https://fonts.cdnfonts.com/css/monument-extended");
@import "../../styles/variables";

.navContainer {
  @include flex-custom(row, space-between !important, center);
  height: 120px;
  width: 100%;
}

.logo {
  width: 200px;
  margin-left: 5rem;
}

.navLinks {
  a {
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    font-size: 15px !important;
    text-decoration: none;
    padding: 0 0.2rem;
    margin: 0 20px;
  }
  a:hover {
    color: $color-blue !important;
  }
  margin-right: 5rem;
}

.active {
  color: $color-blue !important;
}
